@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "tailwindcss";


body {
    font-family: "Sora", sans-serif;
    background-color: var(--bg-main);
    color: white;
}
:root{
    --bg-main: #362F4F;
    --primary: #5B23FF;
    --secondary: #008BFF;
    --tertiary: #E4FF30;
}
