@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "tailwindcss";


body {
    font-family: "Sora", sans-serif;
    background-color: var(--bg-main);
    color: white;
}
:root{
    --bg-main: #323643;
    --white: #F7F7F7 ;
    --dark: #606470;
    --blue: #4f46e5;
}
